<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bamsies Pizza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bamsies Pizza</h1>
    <header>
        <div class="topnav">
            <a href="{{ url_for('home.home') }}" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
            <a href="{{ url_for('order.coupons') }}" class="{% if active_page == 'coupons' %}active{% endif %}">Coupons</a>
            <a href="{{ url_for('order.order') }}" class="{% if active_page == 'order' %}active{% endif %}">Order Now</a>
            <a href="{{ url_for('contact.contact') }}" class="{% if active_page == 'contact' %}active{% endif %}">Contact</a>
            <a href="{{ url_for('about.about') }}" class="{% if active_page == 'about' %}active{% endif %}">About Us</a>

            {% if session.get("customer_id") %}
                <!--  Show when logged in -->
                <a href="{{ url_for('order.order_history') }}" class="{% if active_page == 'order_history' %}active{% endif %}">My Orders</a>
                <a href="{{ url_for('auth.account') }}" class="{% if active_page == 'account' %}active{% endif %}">Account</a>
                <div class="logout-container">
                     <a href="{{ url_for('auth.logout') }}"><button>Logout</button></a>
                </div>
            {% else %}

                <!-- Show when logged out -->
                <a href="{{ url_for('auth.register') }}"><button>Register</button></a>
                <a href="{{ url_for('auth.login') }}"><button>Login</button></a>
            {% endif %}

        </div>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>