<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
    <h1>Contact Us</h1>
    <p>
        ➛Iris message (for the gods among you).<br>
        ➛Carrier pigeon (please attach pizza money to its leg).<br>
        ➛Smoke signals (but only if you order a BBQ pizza).<br>
        ➛Message in a bottle (delivery time: 2–3 oceans).<br>
        ➛Telepathy (just think really hard about pizza, we’ll know).<br>
        ➛Oven semaphore (flash your kitchen light three times if you’re hungry).<br>
        ➛Ancient runes (we accept prophecies carved in stone).<br>
        ➛Time-travel letter (postmark it in 3025, we’ll get back to you now).<br>
        ➛Fax (because every good pizza deserves an outdated technology).<br><br>

        Or, if you insist on being boring, just email us at
        </strong>BamsiesPizza@gmail.com</strong>
    </p>
{% endblock %}
</html>